<%= render 'form'  %>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="">
			<body>
				<table id="example" class="display" cellspacing="0" width="100%">
					<thead>
						<tr>
							<th>Email</th>
							<th> Adding Friend</th>
						</tr>
					</thead>

					<tbody>
						<% @users.each do |user|%>

						<tr>
						<td><%=user.email%>  </td>
						<td>     <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
				<script>
					$(document).ready( function () {
						$('#example').DataTable();
					} );
				</script>
			</body>
		</div>
	</div>
</div>
</div>
</body>