

<%= render 'form'  %>
<div id="page-wrapper">
	<div class="container-fluid">
		<div class="col-xs-6 col-sm-4">
		<% hash = Hash.new %>
			<% @expense.each do |money|%>
			<% if hash[money.owed_by] %>
				<% hash[money.owed_by] = money.amount + hash[money.owed_by] %>
			<% else %>
				<% hash[money.owed_by] = money.amount %>
			<% end %>
			<br>

			<% end %>
			<% hash.each do | key, value | %>
			<b><%= key %></b>	Owe you  <b> <%= value %></b>  rupees
			<% end %>

		</div>
	</div>
</div>
</div>
